In [5]:
import pandas as pd
import numpy as np
pd.options.mode.chained_assignment = None

In [90]:
df = pd.read_csv(r'D:\Omdena\Startup_prediction\omdena-pennsylvania-startup\src\tasks\task-1-data-collection\startup_list.csv')

In [3]:
df

,rank,name,sr-score,description,recent_funding_date,round,amount
0,2,Giphy,"91,822",Search and make GIFs - Animated GIF search. Th...,"Oct 31, 2016",Series D,"$ 72,000,000"
1,3,Buffer,"91,361",A Smarter Way to Share on Social Media - Buffe...,"Oct 27, 2014",Series A,"$ 3,500,000"
2,6,PicsArt,"90,695",PicsArt is a leading image editing app and cre...,"Apr 20, 2016",Series B,"$ 20,000,000"
3,8,Coursera,"90,391",Free Online Courses From Top Universities - Co...,"Jun 07, 2017",Series D,"$ 64,000,000"
4,9,IFTTT,"90,168",Do more with the services you love - IFTTT (if...,"Aug 29, 2014",Series B,"$ 30,000,000"
...,...,...,...,...,...,...,...
295,941,RebelsMarket,"74,690",World's #1 Counterculture Megastore - RebelsMa...,NaN,NaN,NaN
296,945,CIENCE,"74,659",Sales Conversations Start Here - CIENCE is hum...,NaN,NaN,NaN
297,946,talkroute,"74,642",Turn any phone into a professional sounding ph...,"Apr 24, 2015",Venture,"$ 500,000"
298,950,GitMind,"74,590",Make your ideas happen - GitMind is a free onl...,NaN,NaN,NaN
299,951,CrowdReviews,"74,578",A buyer's guide based on user reviews. - Crowd...,NaN,NaN,NaN

In [58]:
# shape and data types of the data
print(df.shape)
print(df.dtypes)

# select numeric columns
df_numeric = df.select_dtypes(include=[np.number])
numeric_cols = df_numeric.columns.values
print(numeric_cols)

# select non numeric columns
df_non_numeric = df.select_dtypes(exclude=[np.number])
non_numeric_cols = df_non_numeric.columns.values
print(non_numeric_cols)

(300, 7)
rank                    int64
name                   object
sr-score               object
description            object
recent_funding_date    object
round                  object
amount                 object
dtype: object
['rank']
['name' 'sr-score' 'description' 'recent_funding_date' 'round' 'amount']

In [120]:
#percentage of null values in each column
for col in df.columns:
    pct_missing = np.mean(df[col].isnull())
    print('{} - {}%'.format(col, round(pct_missing*100)))

rank - 0%
name - 0%
sr-score - 0%
description - 0%
round - 0%
amount - 0%
recent_funding_date_timestamp_dt - 45%

In [91]:
df['recent_funding_date_timestamp_dt'] = pd.to_datetime(df['recent_funding_date'], format='%b %d, %Y')
df = df.drop('recent_funding_date', axis = 1)

In [97]:
df['amount'].unique()

array([ 72000000,   3500000,  20000000,  64000000,  30000000,  12000000,
       127000000,   4000000,   1300000,         0,  16000000,  15000000,
       400000000,   1000000,   5000000,   6180147,   1500000,  37000000,
         7000000,   2000000,   7395582,   1850000,   6000000,   2200000,
         1666567,    500000,  10000000,   6500000,   2062743,    850000,
         8000000,   3300000,  10500000, 100000000,     25000,   3000000,
         2300000, 140000000,    599905,  23000000,    200000,   9000000,
        13000000,   1800000,     50000,    650000,    280000,  27000000,
        56000000,   7200000,    800000,     40000,  50000000,    120000,
        17000000,   3900000,    110000,    150000,   1024999, 502000000,
          400000,    978000, 500000000,   1700000,   5125000,    118000,
        31000000,   4500000,  17500000,   2600000,   1520000,    250000,
         8700000,   5350000,  35000000,   1227995, 103100000,   2800000,
         3400000,   2500000,   5600000,   2900000, 110000000,   1200000,
         2700000,   4800000,   4600000,   2400000])

In [98]:
#replace nan in amount column with mean of that column
df['amount'] = df['amount'].replace(np.nan, '$0')
df['amount'] = df['amount'].replace('Undisclosed amount', '$0')
df['amount'] = df['amount'].astype(str)
df['amount'] = [x.lstrip('$A$Â£â‚¬') for x in df['amount']]
df['amount'] = df['amount'].str.replace(",","")
df['amount'] = df['amount'].astype(int)
df['amount'] =df['amount'].mask(df['amount']==0).fillna(df['amount'].mean())

In [111]:
#replace nan values in round column with Mode of that column
df['round'] = df['round'].fillna(df['round'].mode()[0])
df['recent_funding_date_timestamp_dt'] = df['recent_funding_date_timestamp_dt'].fillna(df['recent_funding_date_timestamp_dt'].mode()[0])

In [122]:
df.to_csv('failed_startup_list_cleaned_data.csv', index=False)

In [123]:
df.isnull().sum()

rank                                0
name                                0
sr-score                            0
description                         0
round                               0
amount                              0
recent_funding_date_timestamp_dt    0
dtype: int64