In [146]:
import pandas as pd 
import numpy as np

In [147]:
df = pd.read_csv("failory_cemetery_failedstartups.csv")
df.head(10)

,failed_startup,short_description,category,country,year_start,year_closed,outcome,cause,num_founders,name_founders,num_employees,num_funding_rounds,total_funding_amount,num_investors,full_description,full_failure_cause
0,RoomsTonite,Last-minute hotel booking provider,Travel,India,2014,2017,Bankruptcy,Lack of Funds,1,Suresh John,100-250,1,$1.5M,4,RoomsTonite was a last-minute hotel booking ap...,The company had announced to have raised $1.5 ...
1,Rafter,Textbook and course material provider for schools,Education,United States,2006,2016,Acquired,Competition,1,Sara Leoni,50-100,7,$86M,7,Rafter was a textbook and course material prov...,Rafter had much competition from the start and...
2,Sharingear,Marketplace for musicians to rent their instru...,Music,Denmark,2014,2015,Shut Down,Multiple Reasons,1,Mircea Gabriel Eftemie,10-Jan,1,€15K,2,Sharinger was a peer to peer musical gear shar...,One of the fundamental reasons the company’s C...
3,Skully,Augmented reality motorcycle helmets,Transportation,United States,2013,2016,Shut Down,Mismanagement of Funds,1,"Marcus Weller, Mitch Weller",Oct-50,4,$15M,13,Skully is a helmet trademark which targets mot...,According to Skully spokespeople they had to c...
4,Wantful,Online gift-giving service,e-Commerce,United States,2011,2013,Shut Down,Competition,1,John Poisson,"10,000",1,$5.5M,8,Wantful was an e-Commerce platform founded in ...,After experiencing a brief phase of exponentia...
5,99dresses,Virtual closet to trade fashion items,e-Commerce,Australia,2010,2014,Shut Down,Multiple Reasons,1,Nikki Durkin,10-Jan,2,$105.7K,4,99dresses was a fashion application marketed a...,99dresses was established by the 18-year-old N...
6,Argyle Social,Provided social media management tools,Marketing,United States,2010,2014,Shut Down,Competition,1,Adam Covati,Oct-50,2,$1.6M,2,The Argyle Social was a Social media marketing...,"Adam Covati, the former CEO and founder of Arg..."
7,Karhoo,Cab aggregator and price comparison tool,Transportation,United Kingdom,2014,2016,Acquired,Poor Product,1,Daniel Ishag,50-100,2,$39M,3,Karhoo was a cab aggregator and price comparis...,Karhoo was out of business after barely 6 mont...
8,PoliMobile,Empowered campaigns with the power of mobile,Marketing,United States,2011,2015,Shut Down,No Market Need,1,Curt Prins,10-Jan,0,-,0,PoliMobile was launched in 2011 and had at its...,PoliMobile had a few major issues.\n\nFirst of...
9,Delicious,"Bookmarking website to save, organize and disc...",Productivity,United States,2003,2017,Still Active,Acquisition Flu,1,Joshua Schachter,50-100,1,No Data,10,Delicious was a social bookmarking site that w...,There are a few reasons that slowly but inevit...

In [148]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 125 entries, 0 to 124
Data columns (total 16 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   failed_startup        125 non-null    object
 1   short_description     125 non-null    object
 2   category              125 non-null    object
 3   country               125 non-null    object
 4   year_start            125 non-null    int64
 5   year_closed           125 non-null    object
 6   outcome               125 non-null    object
 7   cause                 125 non-null    object
 8   num_founders          125 non-null    int64
 9   name_founders         125 non-null    object
 10  num_employees         125 non-null    object
 11  num_funding_rounds    125 non-null    int64
 12  total_funding_amount  125 non-null    object
 13  num_investors         125 non-null    object
 14  full_description      125 non-null    object
 15  full_failure_cause    125 non-null    object
dtypes: int64(3), object(13)
memory usage: 15.8+ KB

In [149]:
df.drop(df.index[df['country'] != 'United States'], inplace = True) #dropping the non-USA data

In [150]:
# df.drop(df.index[df['total_funding_amount'] == '-' | 'Nothing' | 'No Data'], inplace = True)
df = df[~df['total_funding_amount'].isin(['-','Nothing','No Data']) ] #Excluding invalid/null data from 'total_funding_amount' column

In [151]:
df['total_funding_amount'] = df['total_funding_amount'].str.replace('$','')

<ipython-input-151-119cd5dac666>:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will*not* be treated as literal strings when regex=True.
  df['total_funding_amount'] = df['total_funding_amount'].str.replace('$','')

In [152]:
 '''Converts
 alpha numeric currency amount
 to number'''

def alpha_dollar_to_float_number(x):
    if type(x) == float or type(x) == int:
        return x
    if 'K' in x:
        if len(x) > 1:
            return float(x.replace('K', '')) * 1000
        return 1000.0
    if 'M' in x:
        if len(x) > 1:
            return float(x.replace('M', '')) * 1000000
        return 1000000.0
    if 'B' in x:
        return float(x.replace('B', '')) * 1000000000
    return 0.0

In [153]:
df['total_funding_amount']= df['total_funding_amount'].apply(alpha_dollar_to_float_number)

In [154]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 77 entries, 1 to 124
Data columns (total 16 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   failed_startup        77 non-null     object
 1   short_description     77 non-null     object
 2   category              77 non-null     object
 3   country               77 non-null     object
 4   year_start            77 non-null     int64
 5   year_closed           77 non-null     object
 6   outcome               77 non-null     object
 7   cause                 77 non-null     object
 8   num_founders          77 non-null     int64
 9   name_founders         77 non-null     object
 10  num_employees         77 non-null     object
 11  num_funding_rounds    77 non-null     int64
 12  total_funding_amount  77 non-null     float64
 13  num_investors         77 non-null     object
 14  full_description      77 non-null     object
 15  full_failure_cause    77 non-null     object
dtypes: float64(1), int64(3), object(12)
memory usage: 10.2+ KB

In [155]:
type(df.iloc[2]['num_employees'])

str

In [156]:
df.iloc[1]['num_employees'] #Pandas converted strings of range (e.g. 10-50 to Oct-50)

'Oct-50'

In [157]:
#As the converted strings of range was not in proper data format,converting it manually [As we have only two such values]
df['num_employees'] = df['num_employees'].str.replace('Oct-50','10-50')
df['num_employees'] = df['num_employees'].str.replace('10-Jan','01-10')

df

,failed_startup,short_description,category,country,year_start,year_closed,outcome,cause,num_founders,name_founders,num_employees,num_funding_rounds,total_funding_amount,num_investors,full_description,full_failure_cause
1,Rafter,Textbook and course material provider for schools,Education,United States,2006,2016,Acquired,Competition,1,Sara Leoni,50-100,7,86000000.0,7,Rafter was a textbook and course material prov...,Rafter had much competition from the start and...
3,Skully,Augmented reality motorcycle helmets,Transportation,United States,2013,2016,Shut Down,Mismanagement of Funds,1,"Marcus Weller, Mitch Weller",10-50,4,15000000.0,13,Skully is a helmet trademark which targets mot...,According to Skully spokespeople they had to c...
4,Wantful,Online gift-giving service,e-Commerce,United States,2011,2013,Shut Down,Competition,1,John Poisson,"10,000",1,5500000.0,8,Wantful was an e-Commerce platform founded in ...,After experiencing a brief phase of exponentia...
6,Argyle Social,Provided social media management tools,Marketing,United States,2010,2014,Shut Down,Competition,1,Adam Covati,10-50,2,1600000.0,2,The Argyle Social was a Social media marketing...,"Adam Covati, the former CEO and founder of Arg..."
10,QBotix,Solar panels attached and regulated by robots,Software & Hardware,United States,2010,2015,Shut Down,Competition,1,Wasiq Bokhari,10-50,3,23500000.0,7,QBotix seemed like a very promising cleantech ...,QBotix had a useful and innovative product. Th...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
117,Appiterate,Mobile marketing automation platform,Marketing,United States,2013,2015,Acquired,Acquisition Flu,4,"Anuj Bhargava, Mayank Kumar, Tanuj Mendiratta,...",01-10,1,500000.0,3,"Appiterate was a mobile marketing company, whi...",Appiterate didn’t technically fail but was rat...
119,Sprig,Online app that provided healthy organic meals,Food & Beverage,United States,2013,2017,Shut Down,Competition,4,"Gagan Biyani, Matt Kent, Morgan Springer, Neer...",50-100,4,56700000.0,26,Sprig delivered high-end meals to customers wh...,The on-demand food business was a tough arena ...
120,Fab,Online design marketplace,e-Commerce,United States,2009,2013,Acquired,Multiple Reasons,5,"Bradford Shane Shellhammer, Deepa Shah, Jason ...","500-1,000",11,336300000.0,34,Fab is a former e-commerce company which start...,"Fab’s success echoed around the world, resulti..."
123,ArsDigita,Agency that built solutions for e-commerce,e-Commerce,United States,1997,2002,Shut Down,Lack of Experience,7,"Philip Greenspun, Tracy Adams, Ben Adida, Eve ...",50-100,1,35000000.0,3,ArsDigita was a Massachusetts based Web Develo...,"Following three years of successful business, ..."
124,MySpace,Social network based on personal user pages,Social Media,United States,2003,Active,Still Active,Multiple Reasons,7,"Aber Whitcomb, Brad Greenspan, Chris DeWolfe, ...",250-500,1,37800000.0,2,MySpace was originally launched as a side proj...,MySpace was founded by people in the industry ...

In [158]:
#Replacing '-' with 'to' . Because Pandas converts the string to date formate if it finds '-'.
df['num_employees'] = df['num_employees'].str.replace('-',' to ')

In [161]:
df.to_csv("cleaned_failory_cemetery_failedstartups.csv",index=False)