Description:
1. Read the data and analyzed it.
2. Changed columns dtypes from 'object' to meaningful dtypes. For example, for Date column, converted to datetime64 from object type.
3. Created a text cleaning pipeline
4. Save the cleaned the data.

In [1]:
import pandas as pd

In [2]:
df1 = pd.read_csv('/content/data/Combined_News_DJIA.csv')

In [3]:
df1.head()

         Date  ...                                              Top25
0  2008-08-08  ...           b"No Help for Mexico's Kidnapping Surge"
1  2008-08-11  ...  b"So this is what it's come to: trading sex fo...
2  2008-08-12  ...  b"BBC NEWS | Asia-Pacific | Extinction 'by man...
3  2008-08-13  ...  b'2006: Nobel laureate Aleksander Solzhenitsyn...
4  2008-08-14  ...  b'Philippines : Peace Advocate say Muslims nee...

[5 rows x 27 columns]

In [4]:
 df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1989 entries, 0 to 1988
Data columns (total 27 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date    1989 non-null   object
 1   Label   1989 non-null   int64
 2   Top1    1989 non-null   object
 3   Top2    1989 non-null   object
 4   Top3    1989 non-null   object
 5   Top4    1989 non-null   object
 6   Top5    1989 non-null   object
 7   Top6    1989 non-null   object
 8   Top7    1989 non-null   object
 9   Top8    1989 non-null   object
 10  Top9    1989 non-null   object
 11  Top10   1989 non-null   object
 12  Top11   1989 non-null   object
 13  Top12   1989 non-null   object
 14  Top13   1989 non-null   object
 15  Top14   1989 non-null   object
 16  Top15   1989 non-null   object
 17  Top16   1989 non-null   object
 18  Top17   1989 non-null   object
 19  Top18   1989 non-null   object
 20  Top19   1989 non-null   object
 21  Top20   1989 non-null   object
 22  Top21   1989 non-null   object
 23  Top22   1989 non-null   object
 24  Top23   1988 non-null   object
 25  Top24   1986 non-null   object
 26  Top25   1986 non-null   object
dtypes: int64(1), object(26)
memory usage: 419.7+ KB

from above cell results, except label all columns are object type including date which is a mismatch according to its description

In [5]:
# Checking null values
df1.isnull().sum()

Date     0
Label    0
Top1     0
Top2     0
Top3     0
Top4     0
Top5     0
Top6     0
Top7     0
Top8     0
Top9     0
Top10    0
Top11    0
Top12    0
Top13    0
Top14    0
Top15    0
Top16    0
Top17    0
Top18    0
Top19    0
Top20    0
Top21    0
Top22    0
Top23    1
Top24    3
Top25    3
dtype: int64

In [6]:
# Checking Null Values

print(df1[df1['Top23'].isnull()])
print(df1[df1['Top24'].isnull()])
print(df1[df1['Top25'].isnull()])

           Date  Label  ... Top24 Top25
277  2009-09-15      1  ...   NaN   NaN

[1 rows x 27 columns]
           Date  Label  ... Top24 Top25
277  2009-09-15      1  ...   NaN   NaN
348  2009-12-24      1  ...   NaN   NaN
681  2011-04-21      1  ...   NaN   NaN

[3 rows x 27 columns]
           Date  Label  ... Top24 Top25
277  2009-09-15      1  ...   NaN   NaN
348  2009-12-24      1  ...   NaN   NaN
681  2011-04-21      1  ...   NaN   NaN

[3 rows x 27 columns]

In [7]:
df1[['Top23','Top24','Top25']] = df1[['Top23','Top24','Top25']].fillna('')

In [8]:
print(df1[df1['Top23'].isnull()])
print(df1[df1['Top24'].isnull()])
print(df1[df1['Top25'].isnull()])

Empty DataFrame
Columns: [Date, Label, Top1, Top2, Top3, Top4, Top5, Top6, Top7, Top8, Top9, Top10, Top11, Top12, Top13, Top14, Top15, Top16, Top17, Top18, Top19, Top20, Top21, Top22, Top23, Top24, Top25]
Index: []
Empty DataFrame
Columns: [Date, Label, Top1, Top2, Top3, Top4, Top5, Top6, Top7, Top8, Top9, Top10, Top11, Top12, Top13, Top14, Top15, Top16, Top17, Top18, Top19, Top20, Top21, Top22, Top23, Top24, Top25]
Index: []
Empty DataFrame
Columns: [Date, Label, Top1, Top2, Top3, Top4, Top5, Top6, Top7, Top8, Top9, Top10, Top11, Top12, Top13, Top14, Top15, Top16, Top17, Top18, Top19, Top20, Top21, Top22, Top23, Top24, Top25]
Index: []

In [9]:
df1.Date = df1.Date.astype('datetime64')

In [10]:
set([ch for ch in df1['Top1'][0]])

{' ',
 '"',
 "'",
 'G',
 'R',
 'a',
 'b',
 'c',
 'd',
 'e',
 'f',
 'g',
 'i',
 'k',
 'l',
 'm',
 'n',
 'o',
 'p',
 'r',
 's',
 't',
 'u',
 'v',
 'w'}

In [11]:
# Function to remove any punctuation
import string

def remove_punctuation(text):
    no_punct=[words for words in text if words not in string.punctuation]
    words_wo_punct=''.join(no_punct)
    return words_wo_punct

In [12]:
df1['Top1'][0]

'b"Georgia \'downs two Russian warplanes\' as countries move to brink of war"'

In [13]:
remove_punctuation(df1['Top1'][0])

'bGeorgia downs two Russian warplanes as countries move to brink of war'

In [14]:
# Function for tokenization
import re
def tokenize(text):
    split=re.split("\W+",text) 
    return split

In [15]:
tokenize(df1['Top1'][0])

['b',
 'Georgia',
 'downs',
 'two',
 'Russian',
 'warplanes',
 'as',
 'countries',
 'move',
 'to',
 'brink',
 'of',
 'war',
 '']

In [16]:
import nltk
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [17]:
stopword = nltk.corpus.stopwords.words('english')

In [18]:
def remove_stopwords(text):
    text=[word for word in text.split() if word not in stopword]
    return text

In [19]:
remove_stopwords(df1['Top1'][0])

['b"Georgia',
 "'downs",
 'two',
 'Russian',
 "warplanes'",
 'countries',
 'move',
 'brink',
 'war"']

In [20]:
from nltk.stem import WordNetLemmatizer
  
wn = WordNetLemmatizer()

In [21]:
nltk.download('wordnet')

[nltk_data] Downloading package wordnet to /root/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

True

In [22]:
wn.lemmatize(df1['Top1'][0])

'b"Georgia \'downs two Russian warplanes\' as countries move to brink of war"'

In [23]:
from nltk.stem import WordNetLemmatizer
import nltk
import string
import re
# Generized data cleaning pipeline 
def data_cleaning_pipeline(text):

  stopword = nltk.corpus.stopwords.words('english')\
  
  def remove_numerics(text):
    pattern = r'[0-9]'

    return re.sub(pattern,'',str(text))
  
  text_wo_nums = remove_numerics(text)

  def cleanhtml(text):
    cleanr = re.compile('<.*?>|&([a-z0-9]+|#[0-9]{1,6}|#x[0-9a-f]{1,6});')
    return re.sub(cleanr, '', str(text))
  
  text_wo_html = cleanhtml(text_wo_nums)


  def remove_punctuation(text):
    no_punct=[words for words in text if words not in string.punctuation]
    words_wo_punct=''.join(no_punct)
    return words_wo_punct
  
  text_wo_punc = remove_punctuation(text_wo_html)
  
  def remove_stopwords(text):
    text=[word for word in text.split() if word not in stopword]
    return ' '.join(text)
  
  text_wo_stopwrds = remove_stopwords(text=text_wo_punc)

  def lemmatization(text):
    wn = WordNetLemmatizer()
    return wn.lemmatize(text)
  
  lemm_text = lemmatization(text_wo_stopwrds)

  def tokenization(text):
    split=re.split("\W+",text) 
    return split
  
  cleaned_text = ' '.join(tokenization(lemm_text))[1:]
  cleaned_text = cleaned_text.strip()
  return cleaned_text.lower()

In [24]:
data_cleaning_pipeline(df1['Top1'][0])

'georgia downs two russian warplanes countries move brink war'

In [25]:
df1.columns

Index(['Date', 'Label', 'Top1', 'Top2', 'Top3', 'Top4', 'Top5', 'Top6', 'Top7',
       'Top8', 'Top9', 'Top10', 'Top11', 'Top12', 'Top13', 'Top14', 'Top15',
       'Top16', 'Top17', 'Top18', 'Top19', 'Top20', 'Top21', 'Top22', 'Top23',
       'Top24', 'Top25'],
      dtype='object')

In [26]:
 cols = ['Top1', 'Top2', 'Top3', 'Top4', 'Top5', 'Top6', 'Top7',
       'Top8', 'Top9', 'Top10', 'Top11', 'Top12', 'Top13', 'Top14', 'Top15',
       'Top16', 'Top17', 'Top18', 'Top19', 'Top20', 'Top21', 'Top22', 'Top23',
       'Top24', 'Top25']

In [27]:
df2 = df1.copy()
for col in cols:

  df2[col] = df1[col].apply(lambda x : data_cleaning_pipeline(x))

In [28]:
df2.head()

        Date  ...                                              Top25
0 2008-08-08  ...                   no help mexicos kidnapping surge
1 2008-08-11  ...                           so come trading sex food
2 2008-08-12  ...        bbc news asiapacific extinction man climate
3 2008-08-13  ...  nobel laureate aleksander solzhenitsyn accuses...
4 2008-08-14  ...  philippines peace advocate say muslims need as...

[5 rows x 27 columns]

In [29]:
df2.to_csv('/content/cleaned_data/cleaned_Combined_News_DJIA.csv')

In [30]:
df3 = pd.read_csv('/content/data/upload_DJIA_table.csv')

In [31]:
df3.head()

         Date          Open  ...     Volume     Adj Close
0  2016-07-01  17924.240234  ...   82160000  17949.369141
1  2016-06-30  17712.759766  ...  133030000  17929.990234
2  2016-06-29  17456.019531  ...  106380000  17694.679688
3  2016-06-28  17190.509766  ...  112190000  17409.720703
4  2016-06-27  17355.210938  ...  138740000  17140.240234

[5 rows x 7 columns]

In [32]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1989 entries, 0 to 1988
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Date       1989 non-null   object
 1   Open       1989 non-null   float64
 2   High       1989 non-null   float64
 3   Low        1989 non-null   float64
 4   Close      1989 non-null   float64
 5   Volume     1989 non-null   int64
 6   Adj Close  1989 non-null   float64
dtypes: float64(5), int64(1), object(1)
memory usage: 108.9+ KB

In [33]:
df3['Date'] = df3['Date'].astype('datetime64')

In [34]:
df3.isnull().sum()

Date         0
Open         0
High         0
Low          0
Close        0
Volume       0
Adj Close    0
dtype: int64

In [35]:
df3.shape

(1989, 7)

In [36]:
df2.shape

(1989, 27)

In [37]:
round(df3['Close'][0],2)

17949.37

In [38]:
def roundoff_2_decimals(num):

  return round(num, 2)

In [39]:
roundoffCols = []
for col in df3.columns:

  if df3[col].dtype == 'float64':
    roundoffCols.append(col)

In [40]:
roundoffCols

['Open', 'High', 'Low', 'Close', 'Adj Close']

In [41]:
df4 = df3.copy()
for col in roundoffCols:

  df4[col] = df4[col].apply(lambda x: roundoff_2_decimals(x))

In [42]:
df4.head()

        Date      Open      High       Low     Close     Volume  Adj Close
0 2016-07-01  17924.24  18002.38  17916.91  17949.37   82160000   17949.37
1 2016-06-30  17712.76  17930.61  17711.80  17929.99  133030000   17929.99
2 2016-06-29  17456.02  17704.51  17456.02  17694.68  106380000   17694.68
3 2016-06-28  17190.51  17409.72  17190.51  17409.72  112190000   17409.72
4 2016-06-27  17355.21  17355.21  17063.08  17140.24  138740000   17140.24

In [43]:
df4.to_csv('/content/cleaned_data/cleaned_upload_DJIA_table.csv')

In [44]:
df5 = pd.read_csv('/content/data/RedditNews.csv')

In [45]:
df5.head()

         Date                                               News
0  2016-07-01  A 117-year-old woman in Mexico City finally re...
1  2016-07-01   IMF chief backs Athens as permanent Olympic host
2  2016-07-01  The president of France says if Brexit won, so...
3  2016-07-01  British Man Who Must Give Police 24 Hours' Not...
4  2016-07-01  100+ Nobel laureates urge Greenpeace to stop o...

In [46]:
df5.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 73608 entries, 0 to 73607
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date    73608 non-null  object
 1   News    73608 non-null  object
dtypes: object(2)
memory usage: 1.1+ MB

In [47]:
df5.shape

(73608, 2)

In [48]:
df5['Date'] = df5['Date'].astype('datetime64')

In [49]:
df6 = df5.copy()

In [50]:
df6['News'] = df6['News'].apply(lambda x: data_cleaning_pipeline(x))

In [51]:
df6.head()

        Date                                               News
0 2016-07-01  yearold woman mexico city finally received bir...
1 2016-07-01       mf chief backs athens permanent olympic host
2 2016-07-01       he president france says brexit donald trump
3 2016-07-01  ritish man who must give police hours notice s...
4 2016-07-01  obel laureates urge greenpeace stop opposing gmos

In [52]:
df6.to_csv('/content/cleaned_data/cleaned_RedditNews.csv')