#### Documentation:

- intially,thought of Modifying competitors revenue {1_10} to avg. competitors revenue but competitor revenue is already present,so no need to create the avg . revenue

- dropped **owler connection** as only 88% are missing

- dropped **notes** as all the values are NULL

- dropped **potential crawl failing point** as 90% values are 0 and seems to be un-important

- dropped **crawl_tried** as all values are 0

- removed 736 rows as they don't have **HHI** and **Company Revenue**

In [1]:
import pandas as pd

In [10]:
path_to_file = '/content/whole_info_v4.csv'
df = pd.read_csv(path_to_file)

original_df = df.copy()
df.head()

         Company.name  ... competitors revenue 10
0    buildingrobotics  ...                    0.0
1   medicalsimulation  ...                 5400.0
2      cancergenetics  ...                  201.4
3  kindredbiosciences  ...                    0.0
4           topgifter  ...                    0.0

[5 rows x 21 columns]

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1414 entries, 0 to 1413
Data columns (total 21 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Company.name                   1414 non-null   object
 1   owler corrrectionn             172 non-null    object
 2   Company Business               1389 non-null   object
 3   Category                       1368 non-null   object
 4   Company Revenue                736 non-null    float64
 5   Competitor count (cap at 10)   1414 non-null   int64
 6   Competitor Revenue in Total    1414 non-null   float64
 7   HHI                            736 non-null    float64
 8   crawl_tried                    1414 non-null   int64
 9   potential crawl failing point  1414 non-null   int64
 10  notes                          0 non-null      float64
 11  competitors revenue 1          1414 non-null   float64
 12  competitors revenue 2          1414 non-null   float64
 13  competitors revenue 3          1414 non-null   float64
 14  competitors revenue 4          1414 non-null   float64
 15  competitors revenue 5          1414 non-null   float64
 16  competitors revenue 6          1414 non-null   float64
 17  competitors revenue 7          1414 non-null   float64
 18  competitors revenue 8          1414 non-null   float64
 19  competitors revenue 9          1414 non-null   float64
 20  competitors revenue 10         1414 non-null   float64
dtypes: float64(14), int64(3), object(4)
memory usage: 232.1+ KB

In [5]:
df['potential crawl failing point'].value_counts()

0    1377
1      37
Name: potential crawl failing point, dtype: int64

In [6]:
df['crawl_tried'].value_counts()

0    1414
Name: crawl_tried, dtype: int64

In [12]:
remove_cols = ['owler corrrectionn','crawl_tried','potential crawl failing point','notes']

df.drop(columns = remove_cols,axis = 1,inplace=True)

In [14]:
df1 = df.iloc[:,:-10]

In [15]:
df1

             Company.name  ...       HHI
0        buildingrobotics  ...       NaN
1       medicalsimulation  ...  0.257775
2          cancergenetics  ...  0.462750
3      kindredbiosciences  ...       NaN
4               topgifter  ...  0.326575
...                   ...  ...       ...
1409      colonialbankfsb  ...  0.743084
1410        livongohealth  ...  0.245516
1411             paracosm  ...  0.344617
1412  extremeplasticsplus  ...  0.437716
1413            pronutria  ...       NaN

[1414 rows x 7 columns]

In [20]:
df1.dropna(subset = ['Company Revenue','HHI'],inplace=True)

df1 = df1.reset_index(drop=True)

In [21]:
df1

            Company.name  ...       HHI
0      medicalsimulation  ...  0.257775
1         cancergenetics  ...  0.462750
2              topgifter  ...  0.326575
3                  pica9  ...  0.187524
4                actionx  ...  0.479244
..                   ...  ...       ...
731         bioconsortia  ...  0.994546
732      colonialbankfsb  ...  0.743084
733        livongohealth  ...  0.245516
734             paracosm  ...  0.344617
735  extremeplasticsplus  ...  0.437716

[736 rows x 7 columns]

In [22]:
df1.to_csv("owler_data_cleaned.csv")