##Approach
--> first combined all 51 state's different csv to one csv file
--> get the basic stats and null value report
--> deleted coloumn with more than 70% null values
--> fill the null value with best possible way.

In [1]:
import os
import glob
import pandas as pd
import numpy as np

In [2]:
cwd = os.getcwd()
os.chdir(cwd)

In [3]:
extension = 'csv'
all_filenames = [i for i in glob.glob('*.{}'.format(extension))]

In [4]:
#combine all files in the list
combined_csv = pd.concat([pd.read_csv(f,lineterminator='\n') for f in all_filenames ])
#export to csv
combined_csv.to_csv( "combined_csv.csv", index=False, encoding='utf-8')

In [25]:
df = pd.read_csv('combined_csv.csv',lineterminator='\n')
df_check = pd.read_csv('Alaska.csv',lineterminator='\n')

In [15]:
#get basic stats
df.describe()

,employees,founded,CityRanking,estimated_revenues,job_openings,valuation
count,3672.000000,2936.000000,3672.000000,3.280000e+03,3672.000000,1.020000e+02
mean,148.497004,2002.762943,1737.099401,3.173374e+07,6.854575,1.427894e+09
std,159.355941,23.618901,2293.206667,5.183300e+07,19.267521,7.942911e+08
min,23.000000,1790.000000,1.000000,0.000000e+00,0.000000,0.000000e+00
25%,57.000000,2001.000000,34.000000,1.145125e+07,1.000000,1.000000e+09
50%,88.000000,2011.500000,189.500000,1.836000e+07,1.000000,1.200000e+09
75%,167.000000,2015.000000,3231.500000,3.410000e+07,1.000000,1.700000e+09
max,990.000000,2020.000000,8024.000000,2.070000e+09,220.000000,4.150000e+09

In [3]:
#get shape and data type
print(df.shape)
print(df.dtypes)

(3672, 22)
company_name           object
url                    object
city                   object
state                  object
country                object
employees               int64
linkedin_url           object
founded               float64
Industry               object
CityRanking             int64
estimated_revenues    float64
job_openings            int64
keywords               object
LeadInvestors          object
Accelerator            object
btype                  object
valuation             float64
total_funding          object
product_url            object
indeed_url             object
growth_percentage      object
contact_info           object
dtype: object

In [4]:
# select numeric columns
df_numeric = df.select_dtypes(include=[np.number])
numeric_cols = df_numeric.columns.values
print("Here are numeric features: ",numeric_cols)

# select non numeric columns
df_non_numeric = df.select_dtypes(exclude=[np.number])
non_numeric_cols = df_non_numeric.columns.values
print("Here are non-numeric features: ",non_numeric_cols)

Here are numeric features:  ['employees' 'founded' 'CityRanking' 'estimated_revenues' 'job_openings'
 'valuation']
Here are non-numeric features:  ['company_name' 'url' 'city' 'state' 'country' 'linkedin_url' 'Industry'
 'keywords' 'LeadInvestors' 'Accelerator' 'btype' 'total_funding'
 'product_url' 'indeed_url' 'growth_percentage' 'contact_info']

In [5]:
#no of null values in the column
display("NULL Values", df.isnull().sum())

'NULL Values'

company_name             0
url                     16
city                    27
state                    0
country                126
employees                0
linkedin_url             3
founded                736
Industry                 3
CityRanking              0
estimated_revenues     392
job_openings             0
keywords              2671
LeadInvestors         3394
Accelerator           3654
btype                 3401
valuation             3570
total_funding         2494
product_url              0
indeed_url               0
growth_percentage        0
contact_info             0
dtype: int64

In [21]:
#percentage of null values in each column
for col in df.columns:
    pct_missing = np.mean(df[col].isnull())
    print('{} - {}%'.format(col, round(pct_missing*100)))

company_name - 0%
url - 0%
city - 1%
state - 0%
country - 3%
employees - 0%
linkedin_url - 0%
founded - 20%
Industry - 0%
CityRanking - 0%
estimated_revenues - 11%
job_openings - 0%
keywords - 73%
LeadInvestors - 92%
Accelerator - 100%
btype - 93%
valuation - 97%
total_funding - 68%
product_url - 0%
indeed_url - 0%
growth_percentage - 0%
contact_info - 0%

In [26]:
#removing unneccesury features
df_new = df.drop(['Accelerator','url','country','linkedin_url','btype','valuation','product_url','indeed_url','contact_info','keywords','total_funding','LeadInvestors'],axis=1)

In [23]:
print(df_new.dtypes)

company_name           object
city                   object
state                  object
employees               int64
founded               float64
Industry               object
CityRanking             int64
estimated_revenues    float64
job_openings            int64
growth_percentage      object
dtype: object

In [48]:
#percentage of unique industry
ind_count = df_new['Industry'].value_counts(normalize=True)#.unique()
print(ind_count)
#unique industry
check = df_new['Industry'].unique()
for i in range(0,143):
    print('"',check[i],'"',':','"',i,'"',',')
#print(df_new['Industry'].unique())

Tech Services          0.144999
Hospital/Healthcare    0.073317
Construction           0.035977
Finance                0.033252
Digital Health         0.032979
                         ...
SalesTech              0.000273
Privately Held         0.000273
Adtech                 0.000273
AdTech                 0.000273
EntertainmentSanta     0.000273
Name: Industry, Length: 142, dtype: float64
" Insurance " : " 0 " ,
" Digital Health " : " 1 " ,
" Fintech " : " 2 " ,
" Real Estate Tech " : " 3 " ,
" Tech Services " : " 4 " ,
" Consumer " : " 5 " ,
" Finance " : " 6 " ,
" Medical Equip " : " 7 " ,
" Hospital/Healthcare " : " 8 " ,
" Hardware " : " 9 " ,
" Sports " : " 10 " ,
" Real Estate " : " 11 " ,
" Logistics " : " 12 " ,
" Furniture " : " 13 " ,
" Biotech " : " 14 " ,
" Engineering " : " 15 " ,
" Telecom " : " 16 " ,
" Construction " : " 17 " ,
" Marketing " : " 18 " ,
" Health " : " 19 " ,
" Martech " : " 20 " ,
" IT Security " : " 21 " ,
" Medical Offices " : " 22 " ,
" Food " : " 23 " ,
" Technology " : " 24 " ,
" Consulting " : " 25 " ,
" Beverages " : " 26 " ,
" Accounting " : " 27 " ,
" Environmental " : " 28 " ,
" Social Services " : " 29 " ,
" Design " : " 30 " ,
" Networking " : " 31 " ,
" Banking " : " 32 " ,
" Investments " : " 33 " ,
" Mining " : " 34 " ,
" Retail " : " 35 " ,
" Veterinary " : " 36 " ,
" Industrial " : " 37 " ,
" Education " : " 38 " ,
" Recruiting " : " 39 " ,
" Pharma " : " 40 " ,
" Transportation " : " 41 " ,
" Automotive " : " 42 " ,
" Materials " : " 43 " ,
" Chemicals " : " 44 " ,
" Hospitality " : " 45 " ,
" Machinery " : " 46 " ,
" HR " : " 47 " ,
" Outsource " : " 48 " ,
" Research " : " 49 " ,
" NonProfit " : " 50 " ,
" Facilities " : " 51 " ,
" Restaurants " : " 52 " ,
" Farming " : " 53 " ,
" Legal " : " 54 " ,
" Media " : " 55 " ,
" Photography " : " 56 " ,
" Cosmetics " : " 57 " ,
" EntertainmentSanta " : " 58 " ,
" Publishing " : " 59 " ,
" Supplies " : " 60 " ,
" Apparel " : " 61 " ,
" Trade " : " 62 " ,
" Semiconductors " : " 63 " ,
" Analytics " : " 64 " ,
" HRTech " : " 65 " ,
" Events " : " 66 " ,
" Learning " : " 67 " ,
" Electronics " : " 68 " ,
" Utilities " : " 69 " ,
" Defense " : " 70 " ,
" Textiles " : " 71 " ,
" Warehousing " : " 72 " ,
" Energy/Oil " : " 73 " ,
" Leisure " : " 74 " ,
" Religious " : " 75 " ,
" EdTech " : " 76 " ,
" Gaming " : " 77 " ,
" Entertainment " : " 78 " ,
" Training " : " 79 " ,
" eCommerceTech " : " 80 " ,
" Civil " : " 81 " ,
" ProductivityTech " : " 82 " ,
" PR/Comm " : " 83 " ,
" Museums " : " 84 " ,
" Privately Held " : " 85 " ,
" Medical Device " : " 86 " ,
" Cannabis " : " 87 " ,
" Salestech " : " 88 " ,
" Security " : " 89 " ,
" Wireless " : " 90 " ,
" Printing " : " 91 " ,
" AI " : " 92 " ,
" LegalTech " : " 93 " ,
" Wholesale " : " 94 " ,
" Newspapers " : " 95 " ,
" Paper " : " 96 " ,
" Casinos " : " 97 " ,
" Philanthropy " : " 98 " ,
" Think Tanks " : " 99 " ,
" Information Technology & Services " : " 100 " ,
" Health, Wellness & Fitness " : " 101 " ,
" nan " : " 102 " ,
" Healthcare " : " 103 " ,
" Shipbuilding " : " 104 " ,
" Recreation " : " 105 " ,
" Packaging " : " 106 " ,
" Plastics " : " 107 " ,
" Maritime " : " 108 " ,
" Executive " : " 109 " ,
" Medical " : " 110 " ,
" Military " : " 111 " ,
" Writing " : " 112 " ,
" Music " : " 113 " ,
" Hospital/Health " : " 114 " ,
" IT Consulting " : " 115 " ,
" Event Tech " : " 116 " ,
" Marketing & Advertising " : " 117 " ,
" IoT " : " 118 " ,
" Support/CRM Tech " : " 119 " ,
" Architecture " : " 120 " ,
" DevOps " : " 121 " ,
" Adtech " : " 122 " ,
" Electrical & Electronic Manufacturing " : " 123 " ,
" Legaltech " : " 124 " ,
" eCommerce " : " 125 " ,
" Robotics " : " 126 " ,
" FinTech " : " 127 " ,
" Arts " : " 128 " ,
" Tobacco " : " 129 " ,
" Fund-Raising " : " 130 " ,
" Fishery " : " 131 " ,
" Supermarkets " : " 132 " ,
" Dairy " : " 133 " ,
" Staffing & Recruiting " : " 134 " ,
" Concreate " : " 135 " ,
" Investment Banks " : " 136 " ,
" Law " : " 137 " ,
" Animation " : " 138 " ,
" AdTech " : " 139 " ,
" Cloud " : " 140 " ,
" PaaS " : " 141 " ,
" SalesTech " : " 142 " ,

In [27]:
df_new['Industry'].replace({"Insurance" : "0",
"Digital Health":"1" ,
"Fintech":"2",
"Real Estate Tech":"3",
"Tech Services":"4",
"Consumer":"5",
"Finance":"6",
"Medical Equip":"7",
"Hospital/Healthcare":"8",
"Hardware":"9" ,
"Sports":"10",
"Real Estate":"11",
"Logistics":"12",
"Furniture":"13",
"Biotech":"14" ,
"Engineering":"15" ,
"Telecom":"16" ,
"Construction":"17" ,
"Marketing":"18",
"Health":"19" ,
"Martech":"20" ,
"IT Security":"21",
"Medical Offices":"22",
"Food":"23",
"Technology":"24",
"Consulting":"25",
"Beverages":"26" ,
"Accounting":"27" ,
"Environmental":"28" ,
"Social Services":"29" ,
"Design":"30" ,
"Networking":"31" ,
"Banking":"32" ,
"Investments":"33" ,
"Mining":"34" ,
"Retail":"35" ,
"Veterinary":"36",
"Industrial":"37",
"Education":"38 " ,
"Recruiting":"39",
"Pharma":"40" ,
"Transportation":"41" ,
"Automotive":"42" ,
"Materials":"43" ,
"Chemicals":"44" ,
"Hospitality":"45" ,
"Machinery":"46" ,
"HR":"47" ,
"Outsource":"48" ,
"Research":"49" ,
"NonProfit":"50" ,
"Facilities":"51" ,
"Restaurants":"52" ,
"Farming":"53" ,
"Legal":"54" ,
"Media":"55" ,
"Photography":"56",
"Cosmetics":"57" ,
"EntertainmentSanta":"58" ,
"Publishing":"59" ,
"Supplies":"60" ,
"Apparel":"61" ,
"Trade":"62" ,
"Semiconductors":"63" ,
"Analytics":"64" ,
"HRTech":"65",
"Events":" 66" ,
"Learning":"67" ,
"Electronics":"68" ,
"Utilities":"69" ,
"Defense":"70" ,
"Textiles":"71" ,
"Warehousing":"72" ,
"Energy/Oil":"73" ,
"Leisure":"74" ,
"Religious":"75" ,
"EdTech":"76" ,
"Gaming":"77" ,
"Entertainment":"78" ,
"Training":"79" ,
"eCommerceTech":"80" ,
"Civil":"81" ,
"ProductivityTech":"82" ,
"PR/Comm":"83" ,
"Museums":"84" ,
"Privately Held":"85" ,
"Medical Device":"86" ,
"Cannabis":"87" ,
"Salestech":"88" ,
"Security":"89" ,
"Wireless":"90" ,
"Printing":"91" ,
"AI":"92" ,
"LegalTech":"93" ,
"Wholesale":"94" ,
"Newspapers":"95" ,
"Paper":"96" ,
"Casinos":"97" ,
"Philanthropy":"98" ,
"Think Tanks":"99" ,
"Information Technology & Services":"100" ,
"Health, Wellness & Fitness":"101" ,
"nan":"102" ,
"Healthcare":"103" ,
"Shipbuilding":"104" ,
"Recreation":"105" ,
"Packaging":"106" ,
"Plastics":"107" ,
"Maritime":"108" ,
"Executive":"109" ,
"Medical":"110" ,
"Military":"111" ,
"Writing":"112" ,
"Music":"113" ,
"Hospital/Health":"114" ,
"IT Consulting":"115" ,
"Event Tech":"116" ,
"Marketing & Advertising":"117" ,
"IoT":"118",
"Support/CRM Tech":"119" ,
"Architecture":"120" ,
"DevOps":"121" ,
"Adtech":"122",
"Electrical & Electronic Manufacturing":"123" ,
"Legaltech":"124" ,
"eCommerce":"125" ,
"Robotics":"126" ,
"FinTech":"127 " ,
"Arts":"128" ,
"Tobacco":"129" ,
"Fund-Raising":"130 " ,
"Fishery":"131" ,
"Supermarkets":"132" ,
"Dairy":"133" ,
"Staffing & Recruiting":"134" ,
"Concreate":"135" ,
"Investment Banks":"136" ,
"Law":"137" ,
"Animation":"138" ,
"AdTech":"139" ,
"Cloud":"140" ,
"PaaS":"141" ,
"SalesTech":"142"},inplace=True)

In [92]:
update_indu = np.where(df_new['Industry'].isnull())[0]
print(update_indu)
for i in range(0,3):
    #print(check_city[update_city[i]-1])
    df_new.at[update_indu[i],'Industry']='142'

[]

IndexError: index 0 is out of bounds for axis 0 with size 0

In [28]:
#converting estimated_Revenues to int 
df_new['estimated_revenues'] = df_new['estimated_revenues'].fillna(0)
df_new['estimated_revenues'].astype(int)

0        31240000
1        32130000
2       200340000
3        40690000
4        20580000
          ...
3667            0
3668    173512000
3669            0
3670     64815000
3671     13230000
Name: estimated_revenues, Length: 3672, dtype: int64

In [72]:
#getting index of null values
update_city = np.where(df_new['city'].isnull())[0]
print(update_city)

[  55  162  163  164  172  174  179  191  216  680  950 1175 1176 1177
 1186 1190 1207 1334 1453 1462 1579 2157 2261 2602 2643 2837 3334]

In [83]:
#updating null value with it's previous value of city as same city startup are in row.
for i in range(0,27):
    #print(check_city[update_city[i]-1])
    df_new.at[update_city[i],'city']=check_city[update_city[i]-1]

df_new['city'].isnull().sum()

In [94]:
df_new.to_csv('Startup_statewise_cleaned.csv',index=False)

In [93]:
df_new.isnull().sum()

company_name            0
city                    0
state                   0
employees               0
founded               736
Industry                0
CityRanking             0
estimated_revenues      0
job_openings            0
growth_percentage       0
dtype: int64