**Documentaion**
* Data id 20
* Columns are: city,name,link,description
* Dropped link because it's a redundant feature
* We have a result of 2 datasets in this cleaning
* First one with 22526 rows not containing null values
* Second one with 2894 rows containing startups with missing descriptions
* Uncomment the last section if you need better Text cleaning: For cleaned_description column: Removed punctuations+stop words+lowercase+removed diacritics

In [1]:
import pandas as pd

In [8]:
df=pd.read_csv("/content/startup_list_by_cities.csv",engine="c")
df.head()

      city  ...                                        description
0  Atlanta  ...  \nData as a service.\nSimple, custom web scrap...
1  Atlanta  ...                                              \n \n
2  Atlanta  ...  \n The Unified Data and Mobility Security Plat...
3  Atlanta  ...  \n Customized language and culture learning fo...
4  Atlanta  ...  \nThe referral community\nInvitation App is a ...

[5 rows x 4 columns]

### All of the 11 cities we have are located in the US

In [9]:
list_of_cities=df["city"].unique()
total_number_of_cities=len(list_of_cities)
print('total_number_of_cities : {} ---- list_of_cities: {}' .format(total_number_of_cities,list_of_cities))

total_number_of_cities : 11 ---- list_of_cities: ['Atlanta' 'Austin' 'Boston' 'Boulder' 'Chicago' 'Houston' 'Los Angeles'
 'New York' 'San Francisco' 'Seattle' 'Washington DC']

### Link is a redundant feature that will give us no insights ==> Drop it

In [10]:
df.drop(columns="link", inplace=True)

In [11]:
df.head()

      city  ...                                        description
0  Atlanta  ...  \nData as a service.\nSimple, custom web scrap...
1  Atlanta  ...                                              \n \n
2  Atlanta  ...  \n The Unified Data and Mobility Security Plat...
3  Atlanta  ...  \n Customized language and culture learning fo...
4  Atlanta  ...  \nThe referral community\nInvitation App is a ...

[5 rows x 3 columns]

### checking for missing data

In [12]:
df.isna().sum()
print(df.shape)

(25421, 3)

In [13]:
#we have a column that has no name or description so we're droping it
df[df["name"].isna()==True]
indexName = df[ df['name'].isna()==True].index
df.drop(indexName , inplace=True)
print(df.shape)

(25420, 3)

In [14]:
df.isna().sum()

city           0
name           0
description    0
dtype: int64

In [ ]:
df.head()

In [ ]:
#the isna().sum() functions returns 0 null values but if we took a look at the 
#description columns we find that we have null values as a format of \n\n

In [15]:
df = df.replace('\n','', regex=True)
df.head()

      city  ...                                        description
0  Atlanta  ...  Data as a service.Simple, custom web scraping ...
1  Atlanta  ...
2  Atlanta  ...   The Unified Data and Mobility Security Platfo...
3  Atlanta  ...   Customized language and culture learning for ...
4  Atlanta  ...  The referral communityInvitation App is a soci...

[5 rows x 3 columns]

In [16]:
#checking description column with void values
index_list_missing_description=df[df['description'] == ' '].index
print(len(index_list_missing_description),index_list_missing_description )

2894 Int64Index([    1,    11,    17,    26,    28,    31,    42,    60,    61,
               67,
            ...
            25295, 25313, 25331, 25349, 25370, 25389, 25401, 25404, 25413,
            25414],
           dtype='int64', length=2894)

In [ ]:
#we have 2894 missing descriptions

In [17]:
index_list_missing_name=df[df['name'] == ' '].index
print(len(index_list_missing_name))
#we have 0 column name with void values

0

In [20]:
names_of_missing_startups = list(df['name'].values[index_list_missing_description])
names_of_missing_startups
startups_with_missing_description=pd.DataFrame(names_of_missing_startups)
startups_with_missing_description.head()

                            0
0                   EarthLink
1              The Home Depot
2  Turner Broadcasting System
3                Seraph Group
4      First Data Corporation

In [25]:
#dropping rows with missing descriptions
df = df.drop(df[df['description'] == ' '].index, axis=0)
df.shape

(22526, 3)

#uncomment this section for better text visualization

In [27]:
# # let's do text preprocessing
# from texthero import preprocessing

# # creating a custom pipeline to preprocess the raw text we have
# custom_pipeline = [preprocessing.fillna
#                    , preprocessing.lowercase
#                   #  , preprocessing.remove_digits # you can uncomment this if you want to remove digits as well.
#                    , preprocessing.remove_punctuation
#                    , preprocessing.remove_diacritics
#                    , preprocessing.remove_stopwords
#                    , preprocessing.remove_whitespace
#                    , preprocessing.stem]

# # simply call clean() method to clean the raw text in 'tweet' col and pass the custom_pipeline to pipeline argument
# df['clean_descr'] = hero.clean(df['description'], pipeline = custom_pipeline)

# df

In [26]:
df.to_csv("startup_list_by_cities_cleaned_data20.csv")
startups_with_missing_description.to_csv("startups_with_missing_description_listbycities_data20.csv")